<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="instructions-card">
    <ion-card-header>
      <ion-card-title>Instrucciones de Uso</ion-card-title>
      <ion-button fill="clear" size="small" routerLink="/page2">
        página2
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <p>1. Ingresa hasta tres valores numéricos en los campos de abajo (si no se ingresa valor se tomará como 0).</p>
      <p>2. Para operaciones básicas, se usarán los dos o tres números.</p>
      <p>3. Para raíz cuadrada, solo se usará el 'Primer valor'.</p>
      <p>
        4. Para la exponencial, se usará 'Primer valor' elevado al 'Segundo
        valor'.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="result-display" *ngIf="result !== null">
    <h2>Resultado: {{ result }}</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input
          label="Primer valor"
          labelPlacement="floating"
          fill="outline"
          type="number"
          [(ngModel)]="num1"
          placeholder="Ingresa un número"
        >
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input
          label="Segundo valor"
          labelPlacement="floating"
          fill="outline"
          type="number"
          [(ngModel)]="num2"
          placeholder="Ingresa un número"
        >
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input
          label="Tercer valor (opcional)"
          labelPlacement="floating"
          fill="outline"
          type="number"
          [(ngModel)]="num3"
          placeholder="Para operaciones básicas"
        >
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col
        ><ion-button (click)="add()" expand="block">+</ion-button></ion-col
      >
      <ion-col
        ><ion-button (click)="subtract()" expand="block">-</ion-button></ion-col
      >
      <ion-col
        ><ion-button (click)="multiply()" expand="block">*</ion-button></ion-col
      >
      <ion-col
        ><ion-button (click)="divide()" expand="block">/</ion-button></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col
        ><ion-button (click)="sqrt()" expand="block" color="secondary"
          >√ (Raíz)</ion-button
        ></ion-col
      >
      <ion-col
        ><ion-button (click)="pow()" expand="block" color="secondary"
          >xʸ (Exp)</ion-button
        ></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="clear()"
          expand="block"
          color="danger"
          fill="outline"
          >Limpiar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
