ion-content {
  --background: #121212;
}

.model-card {
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  --background: #1e1e1e;
}

.model-card ion-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ion-icon {
    font-size: 2.5rem;
    margin-bottom: 8px;
  }

  ion-card-title {
    font-weight: bold;
    font-size: 1.4rem;
    color: #e0e0e0;
  }
  
  ion-card-subtitle {
    font-weight: 500;
    color: #b0b0b0;
  }
}

.model-card ion-card-content p {
  color: #b0b0b0;
  line-height: 1.6;
}

.model-card ion-list-header {
  font-weight: 600;
  color: #e0e0e0;
  --background: transparent;
  padding-left: 0;
  font-size: 1rem;
  margin-top: 10px;
}

.model-card ion-list ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  color: #e0e0e0; // Color de texto general para items

  ion-icon {
    margin-right: 12px;
    font-size: 1.5rem;
  }

  ion-note {
    font-size: 1rem;
    font-weight: bold;
  }
}

// Estilos para el diagrama de flujo de datos
.process-flow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #b0b0b0;
}

.process-flow .step {
  width: 80px;
  
  ion-icon {
    font-size: 2.5rem;
    color: var(--ion-color-primary);
  }

  p {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.3;
    color: #b0b0b0;
  }
}

.process-flow .arrow {
  font-size: 2rem;
  color: var(--ion-color-primary);
}