<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Proyecto de Tesis
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content ion-text-center">
      <h1>Detección de Fraude con IA</h1>
      <p>Desarrollo de Aplicaciones para Ambientes Móviles</p>
    </div>
  </div>
  
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-subtitle>Resumen del Proyecto</ion-card-subtitle>
      <ion-card-title>Análisis y Propuesta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="project-description">
        Este proyecto se centra en la implementación de un <strong>modelo de aprendizaje automático en el backend para la detección de fraudes en sistemas de comercio electrónico.</strong> El objetivo es crear una solución robusta y escalable que pueda analizar transacciones en tiempo real para proteger tanto a los consumidores como a la empresa.
      </p>
      <div class="features-section">
        <ion-chip color="primary" outline="true">
          <ion-icon name="server-outline" class="ion-margin-end"></ion-icon>
          <ion-label>Backend Robusto</ion-label>
        </ion-chip>
        <ion-chip color="secondary" outline="true">
          <ion-icon name="analytics-outline" class="ion-margin-end"></ion-icon>
          <ion-label>Machine Learning</ion-label>
        </ion-chip>
        <ion-chip color="tertiary" outline="true">
          <ion-icon name="shield-checkmark-outline" class="ion-margin-end"></ion-icon>
          <ion-label>Alta Seguridad</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Objetivos del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-label class="ion-text-wrap">Desarrollar un modelo de alta precisión.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-label class="ion-text-wrap">Integrar el modelo en un backend funcional.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-label class="ion-text-wrap">Asegurar el procesamiento de datos en tiempo real.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Quiz Final</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="project-description">
        El siguiente quiz sirve para evaluar tu comprensión sobre los conceptos presentados en este proyecto de tesis. ¡Buena suerte!
      </p>
    </ion-card-content>
    <ion-button expand="block" color="primary" routerLink="/quiz">
      Iniciar Quiz
    </ion-button>
  </ion-card>
</ion-content>