<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    
    <ion-tab-button tab="summary" href="/tabs/summary">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="architecture" href="/tabs/architecture">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Arquitectura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="model" href="/tabs/model">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Modelo IA</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>